---
layout: default
---

<div class="home">

  <div class="flex justify-center">
    <div>
      <svg class='h-auto w-2 mr-sm svg' width="150" height="150" viewBox="0 0 150 150" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="149" height="149" rx="3.5" fill="#191A21" stroke="#191A21" />
        <path
          d="M44.232 73.1051C43.346 73.6167 43.7089 74.9711 44.7321 74.9711L93.5367 74.9711C93.9565 74.9711 94.3315 75.2333 94.4758 75.6274L106.561 108.645C106.945 109.694 108.5 109.419 108.5 108.301L108.5 37.732C108.5 36.9622 107.667 36.4811 107 36.866L44.232 73.1051Z"
          fill="white" />
      </svg>
    </div>
    <div>
      <h1 class="brand">Upstream AI</h1>
    </div>
  </div>

  <div class="flex column mt-2 text-center align-center">
    <h1 class="font-700 dark-night width-lg">Solve daily tasks 10X faster with AI.</h1>
    <h4 class="width-md">Upstream is a web assistant that helps you process information extremely fast, saving you time.
    </h4>
  </div>

  <div class="flex justify-center">
    <img class="width-img height-img" src="/assets/screencapture.gif" alt="Upstream AI" />
  </div>

  <div class="flex mt-2 justify-center">
    <a class="outline-gradient">
      <button class="button-cta-inner">
        <img class="svg" src="/assets/chrome.svg" alt="Chrome" />
        Add Upstream to Chrome
      </button>
    </a>
  </div>

  <div class="flex column mt-2 width-lg mx-auto">
    <div>
      <h2 class="font-700 text-center">User Guide</h2>
    </div>
    <div>
      <h4 class=""><b>About</b></h4>
      <p>Upstream is a web assistant powered by OpenAI API and Chrome API that helps users process information faster by
        using their browser as context. The focus is on increasing productivity of day to day tasks that we all do on
        the
        web: things like writing an email, researching items to purchase, writing bulleted summaries of long articles,
        generating tables from text, and many more.</p>
    </div>
    <div>
      <h4 class=""><b>Usage</b></h4>
      <p>Upstream is a Chrome extension that can be used with any tab. To use it, simply click on the Upstream icon in
        the top right corner of your browser to open the interface.
        Then, ask questions of what you want to do with your current tab as context, here are some examples:
      </p>
      <ul>
        <li> Write a one liner about this topic. </li>
        <li> Extract the event timeline from this articles into CSV format. </li>
        <li> Generate a tweet describing this article. </li>
        <li> Explain the problem described. </li>
      </ul>
    </div>
    <div>
      <h4 class=""><b>How does it work?</b></h4>
      <p>Upstream uses OpenAI API to generate text, and Chrome API to access the current tab. </p>
    </div>
    <div>
      <h4 class=""><b>Privacy</b></h4>
      <p>Upstream does not collect any data from users. Only the text that you submit is sent through our servers and
        OpenAI's API.
        Upstream uses OpenAI API to generate text, and Chrome API to access the current tab. </p>
      <p>
        Upstream is not liable for content generated by OpenAI API.
      </p>
    </div>
    <div>
      <h4 class=""><b>Support</b></h4>
      <p>Send us your feedback and questions to hi@upstreamapi.com
    </div>
  </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list current">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%m/%y" -%}
      <span class="post-meta current">
        <a class="post-link current" href="{{ post.url | relative_url }}">{{
          post.title | escape }}</a> ({{ post.date | date: date_format }})
        <p class="current">That it boy</p>
      </span>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>