---
layout: default
---

<div class="home">

  <div class="flex justify-center">
    <div>
      <svg class='h-auto w-2 mr-sm svg' width="150" height="150" viewBox="0 0 150 150" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="149" height="149" rx="3.5" fill="#191A21" stroke="#191A21" />
        <path
          d="M44.232 73.1051C43.346 73.6167 43.7089 74.9711 44.7321 74.9711L93.5367 74.9711C93.9565 74.9711 94.3315 75.2333 94.4758 75.6274L106.561 108.645C106.945 109.694 108.5 109.419 108.5 108.301L108.5 37.732C108.5 36.9622 107.667 36.4811 107 36.866L44.232 73.1051Z"
          fill="white" />
      </svg>
    </div>
    <div>
      <h1 class="brand">Upstream AI</h1>
    </div>
  </div>

  <div class="flex column mt-2 text-center align-center">
    <h1 class="font-700 dark-night width-lg">Use GPT on Chrome</h1>
  </div>

  <div class="flex width-img mx-auto height-img">
    <video muted playsinline autoplay loop class="mx-auto w-100">
      <source src="/assets/demo1.mp4">
    </video>
  </div>

  <div class="flex column mt-2 width-lg mx-auto">
    <div>
      <h2 class="font-700 text-center">User Guide</h2>
    </div>
    <div>
      <h4 class=""><b>About</b> </h4>
      <p>Upstream is an Chrome extension that helps users save time on daily tasks. Things like writing an email,
        researching items to purchase, summarizing long reads, creating excel tables from text, and much more.</p>
      <p>Upstream uses OpenAI API to generate text and Chrome API to access your tab's text.</p>
      <p><a href="https://youtu.be/WFPetU8giTQ" target="_blank">See demo.</a></p>
    </div>
    <div>
      <h4 class=""><b>Usage</b></h4>
      <p>To use it simply open the extension and give Upstream instructions using your current tab, here
        are some examples:
      </p>
      <ul>
        <li>
          <pre>Write a one line summary. </pre>
        </li>
        <li>
          <pre>Extract the event timeline into CSV format. </pre>
        </li>
        <li>
          <pre>Generate a tweet describing this article.</pre>
        </li>
        <li>
          <pre>Explain the problem described.</pre>
        </li>
      </ul>
      <p>Upstream reads the tab you are on as context. This means you don't need to be specific, it already knows what
        you refer to.</p>
    </div>
    <div>
      <h4 class=""><b>Privacy</b></h4>
      <p>Only the text that you submit is sent through our servers and OpenAI's API. You can see at all times what is
        being sent by clicking the `context` tab.</p>
    </div>
    <div>
      <h4 class=""><b>Support</b></h4>
      <p>Send us your feedback and questions to hi@upstreamapi.com
    </div>
  </div>

</div>